* {
    box-sizing: border-box
}

/* Set a style for all buttons */
button {
    background-color: #2a63a3b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    width: 300px;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}


.header-wrap {
    position: relative;
    text-align: center;
}

.header-text {
    font-family: 'Titan One', 'cursive';
    font-size: 1.2rem;
}

.quotes-title {
    text-align: center;
    font-family: 'Yeseva One', 'cursive';
}

.timeline {
    margin-top: 20px;
    position: relative;

}

.timeline:before {
    position: absolute;
    content: '';
    width: 4px;
    height: calc(100% + 50px);
    background: rgb(138, 145, 150);
    background: -moz-linear-gradient(left, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    background: linear-gradient(to right, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(98, 105, 109, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a9196', endColorstr='#62696d', GradientType=1);
    left: 14px;
    top: 5px;
    border-radius: 4px;
}

.timeline-month {
    position: relative;
    padding: 4px 15px 4px 35px;
    background-color: #444950;
    display: inline-block;
    width: auto;
    border-radius: 40px;
    border: 1px solid #17191B;
    border-right-color: black;
    margin-bottom: 30px;
}

.timeline-month span {
    position: absolute;
    top: -1px;
    left: calc(100% - 10px);
    z-index: -1;
    white-space: nowrap;
    display: inline-block;
    background-color: rgb(136, 74, 74);
    padding: 4px 10px 4px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid black;
    box-sizing: border-box;
}

.timeline-month:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: rgb(138, 145, 150);
    background: -moz-linear-gradient(top, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%);
    background: linear-gradient(to bottom, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a9196', endColorstr='#70787d', GradientType=0);
    border-radius: 100%;
    border: 1px solid #17191B;
    left: 5px;
}

.timeline-section {
    padding-left: 35px;
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.timeline-date {
    margin-bottom: 15px;
    padding: 2px 15px;
    background: linear-gradient(#7488e3, #5bc0de 60%, #4ab9db);
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #17191B;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.timeline-section:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #444950;
    top: 12px;
    left: 20px;
}

.timeline-section:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(to bottom, rgba(138, 145, 150, 1) 0%, rgba(122, 130, 136, 1) 60%, rgba(112, 120, 125, 1) 100%);
    top: 7px;
    left: 11px;
    border: 1px solid #17191B;
    border-radius: 100%;
}

.timeline-section .col-sm-4 {
    margin-bottom: 15px;
}

.timeline-box {
    position: relative;

    background-color: #444950;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #17191B;
    transition: all 0.3s ease;
    overflow: hidden;
}

.box-icon {
    position: absolute;
    right: 5px;
    top: 0px;
}

.box-title {
    padding: 5px 15px;
    border-bottom: 1px solid #17191B;
}

.box-title i {
    margin-right: 5px;
}

.box-content {
    padding: 5px 15px;
    background-color: #6d3838;
}

.box-content strong {
    color: #666;
    font-style: italic;
    margin-right: 5px;
}

.box-item {
    margin-bottom: 5px;
}

.box-footer {
    padding: 5px 15px;
    border-top: 1px solid #17191B;
    background-color: #444950;
    text-align: right;
    font-style: italic;
}

.vote-buttons1{
    margin-top: -153px;
    margin-left: 40px;
}
.vote-buttons2{
    margin-top: -178px;
    margin-left: 40px;
}
.vote-buttons3{
    margin-top: -130px;
    margin-left: 40px;
}
.vote-buttons4{
    margin-top: -130px;
    margin-left: 40px;
}
.vote-buttons5{
    margin-top: -130px;
    margin-left: 40px;
}
.vote-buttons6{
    margin-top: -178px;
    margin-left: 40px;
}
.vote-buttons7{
    margin-top: -178px;
    margin-left: 40px;
}
.vote-buttons8{
    margin-top: -200px;
    margin-left: 40px;
}
.vote-buttons9{
    margin-top: -128px;
    margin-left: 40px;
}

#result{
    border-radius: 50%;
}

form{
    text-align: center;
}
